@import  '../shipper-constant.scss';

.select {
  padding-left: 0 !important;
  padding-right: 0 !important;

  [class*="MuiSelect-root"] {
    padding-left: 15px;

    &:focus {
      background-color: transparent;
    }

    &[aria-expanded=true] ~[class*="MuiSvgIcon-root"] {
      transform: rotate(180deg);
    }
  }

  [class*="MuiSvgIcon-root"] {
    pointer-events: none;
    transition: 300ms transform;
    position: absolute;
    right: 15px;
    width: 19px;
    height: 19px;
  }
}

.dropdown {
  margin-top: 35px;
  border-radius: 16px !important;

  [class*="MuiListItem-root"] {
    &:hover,
    &[class*="Mui-focusVisible"],
    &[class*="Mui-selected"],
    &[class*="Mui-selected"]:hover {
      background-color: transparent;
      color: $primaryBlue;
    }
  }
}
