@import '../shipper-constant.scss';

.textSmall {
  font-size: $font-size-small !important;
  line-height: $font-line-small !important;
}

.textMedium {
  font-size: $font-size-small !important;
  line-height: $font-line-sm-med !important;
  font-weight: bold !important;
  text-align: center;
}

.blueBorder {
  border-color: $primaryBlue !important;
}

.noBorder {
  border-color: transparent;
}

.disabledBorder {
  border-color: transparent !important;
}

.card {
  height: 100%;

  &:hover {
    border: 1px solid $primaryBlue;
  }
}

.cardContent {
  height: 100%;
  box-sizing: border-box;
  padding: 10px 15px;

  > div {
    height: 100%;
  }
}

.smallIcon {
  width: 10px;
  height: 10px;
}

.title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.tooltipContainer {
  display: flex;
  align-items: center;
}

.tooltipButton {
  margin-left: 5px;
  padding: 0;
  width: 16px;
  height: 16px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.iconContainer {
  img {
    height: 50px;
  }
}

.radioContainer {
  margin-top: auto;
}

.radio {
  height: 100%;

  &:hover,
  &[class*='Mui-checked']:hover {
    background-color: transparent;
  }
}
