{
  "ignorePatterns": ["example/*"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "standard-react",
    "airbnb",
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@babel", "prettier", "@typescript-eslint", "jest"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    },
    "babelOptions": {
      "configFile": false,
      "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"]
    }
  },
  "settings": {
    "react": {
      "version": "17"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "prettier/prettier": [
      2,
      {
        "singleQuote": true,
        "jsxSingleQuote": true,
        "semi": true,
        "tabWidth": 2,
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "always",
        "trailingComma": "none"
      }
    ],
    "no-alert": 0,
    "@typescript-eslint/ban-types": 1,
    "@typescript-eslint/ban-ts-comment": 1,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "react/jsx-filename-extension": 0,
    "import/extensions": 0,
    "no-restricted-exports": 0,
    "react/jsx-props-no-spreading": 0,
    "react/function-component-definition": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "no-shadow": 0,
    "react/no-unstable-nested-components": 0,
    "no-restricted-globals": 0,
    "no-unsafe-optional-chaining": 0,
    "no-nested-ternary": 0,
    "react/destructuring-assignment": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "react/jsx-no-useless-fragment": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "prefer-spread": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-curly-newline": 0,
    "no-use-before-define": 0
  }
}
