@import "../rubiwin-constant";

.root {
  background-color: $primaryColor;
  border-radius: $border-radius-sm;
  font-family: $font-family;
  font-weight: 700;
  color: white;
  &:hover {
    background-color: darken($primaryColor, 10%);
  }
  box-shadow: $box-shadow;
}

.disabled {
  background-color: $lightGrey;
  box-shadow: none;
}