@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

/** typography **/
$font-family: "Montserrat", sans-serif;

$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-large-xl: 24px;

$font-line-small: 14.63px;
$font-line-medium: 17.07px;
$font-line-large: 24px;
$font-line-large-xl: 29.26px;

/** colors **/
/**
$primary-main: '#1436D3';
$primary-light: '#0095FD';
$primary-dark: '#003B81';

$secondary-main: '#F20738';

$grey-main: '#AFB9C4';
$grey-light: '#F8FAFC';
$grey-dark: '#68717B';

$white: '#FFF';
$black: '#000';
$black-primary: '#062440';
*/

/** padding, margin, radius ... **/
$border-radius: 16px;
$border-radius-sm: 8px;

