.countries {
    fills: #b0d0ab;
    stroke: #6cb0e0;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}
.airports {
    fill: #036;
    stroke: #6cb0e0;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}
.route {
    fill: none;
    stroke-width: 0;
}
.plane {
    fill: #fff;
    stroke-width: 0;
}