$size: 14px;

.container {
  position: relative;
}

.sizeStd {
  width: $size !important;
  height: $size !important;
}

.checked {
  position: absolute;
  width: $size - 2px !important;
  height: $size - 2px !important;
}
