$size: 16px;

.container {
  position: relative;
  display: flex;
  align-items: center;
}

.sizeStd {
  width: $size !important;
  height: $size !important;
}

.checked {
  position: absolute;
  width: $size - 2px !important;
  height: $size - 2px !important;
}
