@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/** typography **/
$font-family: 'Montserrat', sans-serif;

$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-large-xl: 24px;

$font-line-small: 14.63px;
$font-line-sm-med: 16px;
$font-line-medium: 17.07px;
$font-line-large: 24px;
$font-line-large-xl: 29.26px;
$border-radius: 16px;
$border-radius-sm: 8px;

$blackText: #062440;
$primaryBlue: #1436d3;
$greenMain: #00cf53;
$redLighter: #f20738;
$redMain: #f20738;
