@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

/** typography **/
$font-family: "Montserrat", sans-serif;
$font-size: 16px;
$font-size-smaller: 12px;
$font-size-small: 10px;

/** colors **/
$primaryColor: #00c3ff;

$white: #fff;

$lightGrey: #E7E7E7;
$dynamiteGrey: #C4C4C4;
$disableGrey: #E5E5E5;

$danger: #FF003B;

$fontColor: #555;

/** padding, margin, radius ... **/
$border-radius: 16px;
$border-radius-sm: 8px;

/** transition */
$transition-all: all .2s ease;
