@import 'rubiwin-constant';

@mixin rubiwinScroll {
  overflow-y: scroll;
  scrollbar-color: $primaryColor $lightGrey;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $primaryColor;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryColor;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darken($primaryColor, 10%);
  }
}
