@import "../rubiwin-constant";

.button {
  font-family: $font-family;
  font-size: $font-size-smaller;
  color: $white;
  font-weight: bold;
  background-color: $primaryColor;
  border-radius: 16px;
  text-transform: capitalize;
  &:hover {
    background-color: darken($primaryColor, 10%);
  }
  &:disabled {
    background-color: $lightGrey;
    border: 1px solid $lightGrey;
  }
}

a.button {
  color: $white;
}
