@import  '../shipper-constant.scss';

.textSmall {
    font-size: $font-size-small !important;
    line-height: $font-line-small !important;
}

.textMedium {
    font-size: $font-size-small !important;
    line-height: $font-line-sm-med !important;
    font-weight: bold !important;
    text-align: center;
}

.blueBorder {
    border-color: #1436D3 !important;
}

.noBorder {
    border-color: transparent;
}

.disabledBorder {
    border-color: transparent !important;
}

.cardHover:hover {
    border: 1px solid #1436D3;
}

.smallIcon {
    width: 10px;
    height: 10px;
}

.title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.tooltipContainer {
  display: flex;
  align-items: center;
}

.tooltipButton {
  margin-left: 5px;
  padding: 0;
  width: 16px;
  height: 16px;

  svg {
    width: 16px;
    height: 16px;
  }
}
